API_BASE_URL="https://api.openweathermap.org/data/2.5/" # Just use it like this
API_KEY_NAME = "appid" # Just use it like this
API_KEY_VALUE =YOUR_API_KEY # Replace with your valid api key from OpenWeatherMap